<!doctype html>
<html>

<head>
  <title>Interpoll Part Two!</title>
  <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

{{{ body }}}

<script src="/socket.io/socket.io.js"></script>
<script src="/add-option-button.js"></script>
<script src="/client.js"></script>

</body>
</html>
