<div class="admin-div">
  <div class="container">
    <div class="title">Admin Page</div>
    <div class="poll-urls">
      <h3>This page's URL: {{ poll.adminUrl }}</h3>
      <h3>Vote page URL: {{ poll.voterUrl }}</h3>
    </div>
    <div class="sub-title">Your Poll Results</div>

    <div class="connection-count"></div>
    <div>
      <button class="close-poll btn-sm btn-danger">Close Poll</button>
    </div>
  </div>
</div>

