<div class="admin-div">
  <div class="container">
    <div class="title">Admin Page</div>
    <div class="sub-title">Poll: {{ poll.title }}</div>
    <div class="poll-urls">
      <h3 id="url-address">This page's <a href="{{ poll.adminUrl }}">Admin Page URL</a> will take you back to this page.</h3>
      <h3 id="url-address">Here is your <a href="{{ poll.voterUrl }}">Voter Page URL</a>. Send this to the people you want to vote.</h3>
    </div>
    <div class="sub-title">Your Poll Results</div>

    <div class="connection-count"></div>

    <div class="poll-results"></div>

    <div>
      <button class="close-poll btn-sm btn-danger">Close Poll</button>
    </div>
  </div>
</div>

