<div class="container">
  <div class="title">Welcome to Interpoll</div>
  <div class="sub-title">Start a new Poll</div>
  <form action="/" method="post">
    <h3><input type="text" name="poll[title]" class="poll-title form-control" placeholder="Poll Question"></h3>
    <div class="append-option">
      <div class="form-group">
        <input type="text" name="poll[choices]choice[]" class="form-control" placeholder="Choice">
      </div>
      <div class="form-group">
        <input type="text" name="poll[choices]choice[]" class="form-control" placeholder="Choice">
      </div>
    </div>
  </form>
  <div>
    <button class="add-option-button btn-sm btn-success">Add Another Option</button>
    <button type="submit" class="btn-sm btn-info" id="start-poll-button">Start This Poll</button>
  </div>
</div>
