<div class="voter-div">
  <div class="container">
    <div class="title">Vote Now!</div>
    <div class="sub-title">Question: {{ poll.pollTitle }}</div>
    <div class="sub-title">Choices: Click a button to cast your vote</div>
    <div id="pollclosed-message"></div>
    <div class="row col-md-9" id="choice-buttons">
    {{#each pollChoices}}
    <div id="choices">
      <button type="button" name="vote-button" id="{{poll.id}}" class="choice-title btn btn-tny btn-warning">{{this}}</button>
    </div>
    {{/each}}
    {{#if poll.showVoteResults}}
      <div class="tally"></div>
    {{/if}}
    </div>
  </div>
</div>

