<div class="voter-div">
  <div class="container">
    <div class="title">Vote Now!</div>
    <div class="sub-title">Question: {{ poll.pollTitle }}</div>
    <div class="sub-title">Choices</div>
    <div class="row col-md-9">
    {{#each poll.choices}}
    <div class="choice-buttons">
      <button type="button" name="vote-button" class="choice-title btn btn-tny btn-warning">Vote For</button> - {{this}}
    </div>
    {{/each}}
    {{#if poll.showVoteResults}}
      <div class="show-poll-results">This is working</div>
    {{/if}}
    </div>
  </div>
</div>

