body {
  background-color: rgba(28, 28, 28, 0.93);
}

.container {
  text-align: center;
}

.title {
  color: white;
  font-size: 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sub-title {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#start-poll-button {
  margin-top: 2rem;
}

.connection-count {
  color: white;
  font-size: 1.5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.form-group input {
  width: 400px;
  display: inline;
}

.choice-buttons {
  font-size: 2.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#poll-title {
  display: inline;
  width: 800px;
  margin-bottom: 2rem;
}

.add-option-button {
  display: inline;
  margin-top: 2rem;
}

#url-address {
  color: white;
}

.check-box {
  color: green;
  margin-bottom: 2rem;
}

.start-poll-title {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.show-poll-results {
  color: white;
  font-size: 2rem;
}

.close-poll {
  margin-top: 2rem;
}
